/* ------ mobilyselect
-----------------------------------------------*/

.selecterBtns {
    float: left;
    padding: 0 0 20px 0;
	width:100%;
}
.selecterBtns h5 { padding:5px 10px 0 0; }
.selecterBtns a {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#111;
color:#fff;
display:block;
float:left;
font-size:11px;
line-height:28px;
margin-right:4px;
outline:none;
padding:0 15px;
text-decoration:none;
}

.selecterBtns .active,
.selecterBtns a:hover {
background:#EDEDED;
color:#111;
}

.selecterContent {
float:left;
}
.selecterBtns ul,
.selecterBtns li {
	margin:0;
}

ul.nolist,
ul.nolist li {
display:block;
list-style:none;
padding:0;
background:none;
}

ul.nolist li {
float:left;
}


a img {
border:none;
}

